@model EjemploMVC_MAT.Models.Product

<div class="container text-center">
    <h1>@Model.name @Model.surname</h1>
    <div class="row">
        <div class="col-md-12">
            <h3><strong>Nacionalidad:</strong> @Model.nationality</h3>
            <h3><strong>Fecha de Nacimiento:</strong> @(Model.birthday.HasValue ? Model.birthday.Value.ToString("yyyy-MM-dd") : "No disponible")</h3>
            <h3><strong>Enlace Wikipedia:</strong> <a href="@Model.url" target="_blank">Ver en Wikipedia</a></h3>

            <a class="btn btn-primary mt-3"
               asp-controller="Home"
               asp-action="Index">
                Volver a la lista
            </a>
        </div>
    </div> 
</div>
